<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery - J.R.R Tolkien</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
    </nav>
    <section>
        <h1>Photo Gallery</h1>
        <div class="gallery">
                <img id="photo" src="/images/jrr_tolkien_home.jpg" alt="Tolkien at home">
                <img id="photo" src="/images/jrrtolkien_by_tree.webp" alt="Tolkien resting on the tree">
                <img id="photo" src="/images/library_jrrtolkien.jpg" alt="Tolkien in his natural enviroment">
                <br>
                <img id="photo" src="/images/young_jrrtolkin_with_wife.jpg" alt="Young Tolkien with his wife">
                <img id="photo" src="/images/wife_jrrtolkien.jpg" alt="Tolkien with his beloved wife">
                
                <img id="photo" src="/images/young_jrrtolkien.jpg" alt="Young Tolkien">





        </div>


    </section>
    
</body>
</html>